/* REGOLE GENERALI */
ul li {
  display: inline-block;
  list-style: none;
}
h1 {
  font-size: 2.8em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2.3em;
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 0.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
/* REGOLE HEADER */
/* Regole nav */
/* header nav {
  height: 100px;
} */
header nav .container .logo {
  line-height: 3.5em;
}
header nav .container .link ul {
  display: inline-block;
}
header nav .container .link ul li {
  font-size: 0.8em;
  line-height: 3.5em;
  margin-right: 0.4em;
}
header nav .container .link ul li:last-child {
  margin-right: 0em;
}
header nav .container .link .lang {
  margin-left: 1em;
}

/* Regole Teaser */
header .teaser {
  color: white;
  position: relative;
  height: 554px;
  background-image: url(../img/hero-bg.jpg);

}
header .teaser .manifesto {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* REGOLE MAIN */
/* Regole sezione products */
main #products .container #segway {
  height: 700px;
  background-color: #fafafa;
  /* background-image: url(../img/HelbizGOxSegway.jpg);
  background-size: 100%;
  background-repeat: no-repeat; */
}
main #products .container #bike {
  height: 700px;
  background-color: #fafafa;
}
main #products .container img {
  width: 80%;
}
main #products .container .block {
  text-align: center;
}

/* Regole sezione howitworks */
main #howitworks #wallpaper {
  width: 100%;
  height: 400px;
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main #howitworks #phone img {
  width: 100%;
}
main #howitworks #phone .container {
  margin-top: -250px;
}
/* main #howitworks #phone .col-lg-2:nth-child(odd) {
  position: absolute;
  bottom: 0;
} */
main #howitworks #phone .container .col-lg-2 {
  position: relative;
  height: 330px;
  }

main #howitworks #phone .container .col-lg-2 h3, main #howitworks #phone .container .col-lg-2 .text  {
  position: absolute;
  bottom: 0;
}

/* Regole sezione info */
#info {
  margin-top: 100px;
  color: white;
}

#info .smart {
  width: 100%;
  height: 450px;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#info .smart .infotext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
}
#info .getapp {
  height: 600px;
  background-image: linear-gradient(#405569, #253039);
  position: relative;
}
#info .getapp img {
  position: absolute;
  width: 100%;
  bottom: 0%;
}
#info .findus {
  height: 600px;
  background-image: url(../img/Cities-1500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#info .infotext {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Regole sezione social */
#social {
  height: 450px;
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#social .textsocial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  color: black;
  padding: 80px 140px;
  text-align: center;
}
#social .textsocial ul li {
  font-size: 2em;
  margin-right: 1em;
}
#social .textsocial ul li:last-child {
  margin-right: 0em;
}

/* Footer */
footer {
  height: 500px;
  background-color: black;
  color: white;
}
hr {
  margin: 1em 0;
}
footer .store {
  text-align: center;
}
