/* REGOLE GENERALI */
* {
  font-family: 'Roboto', Verdana;
}
ul li {
  display: inline-block;
  list-style: none;
}
h1 {
  font-size: 2.8em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2.3em;
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 0.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
a {
  color: black;
  text-decoration: none;
}
main > div {
  margin-top: 2em;
}
.center {
  text-align: center;
}
/* REGOLE HEADER */
header nav .container .logo {
  line-height: 3.5em;
}
header nav .container .link ul {
  display: inline-block;
}
header nav .container .link ul li {
  font-size: 0.8em;
  line-height: 3.5em;
  margin-right: 0.4em;
}
header nav .container .link ul li:last-child {
  margin-right: 0em;
}
header nav .container .link ul:last-child {
  margin-left: 1em;
}

/* Regole Teaser */
header .teaser {
  color: white;
  position: relative;
  height: 554px;
  background-image: url(../img/hero-bg.jpg);
}
header .teaser .manifesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* REGOLE MAIN */
/* Regole sezione products */
main #products h2 {
  padding-top: 1em;
}
main #products .container .center {
  padding: 0 1em;
}
main #products .container .center > div {
  background-color: #fafafa;
}
main #products .container img {
  width: 80%;
}

/* Regole sezione howitworks */
main #howitworks #wallpaper {
  height: 400px;
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main #howitworks #phone img {
  width: 100%;
}
main #howitworks #phone .container {
  margin-top: -220px;
}
main #howitworks #phone .container .col-lg-2 {
  position: relative;
  height: 350px;
  }
main #howitworks #phone .container .col-lg-2 h3, main #howitworks #phone .container .col-lg-2 .text  {
  position: absolute;
  bottom: 0;
}

/* Regole sezione info */
#info {
  margin-top: 5em;
  color: white;
}
#info a {
  font-size: 1.5em;
  color: white;
}
#info .smart {
  height: 450px;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#info .smart .infotext {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
}
#info .getapp {
  margin-top: 2em;
  height: 620px;
  background-image: linear-gradient(#405569, #253039);
  position: relative;
}
#info .getapp img {
  position: absolute;
  width: 100%;
  bottom: 0%;
}
#info .findus {
  margin-top: 2em;
  height: 620px;
  background-image: url(../img/Cities-1500.jpg);
  background-size: 98%;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
#info .infotext {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Regole sezione social */
#social {
  height: 450px;
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#social .textsocial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  color: black;
  padding: 80px 140px;
}
#social .textsocial ul li {
  font-size: 2em;
  margin-right: 1em;
}
#social .textsocial ul li:last-child {
  margin-right: 0em;
}

/* Footer */
footer {
  /* height: 500px; */
  background-color: black;
  color: white;
  padding-top: 40px;
  line-height: 2.2em;
}
footer a {
  color: #505050;
}
footer #topfooter ul li {
  display: block;
}
footer #bottomfooter {
  margin-top: 1em;
}
footer #bottomfooter .container ul li {
  margin-right: 1em;
}
hr {
  width: 90%;
  border: 0.5px solid white;
  margin: 1em auto;
}

/* Media queries style css */
@media screen and (max-width: 768px) {
  header nav .container .link ul:last-child {
    margin-left: 0em;
  }
  main #products .container .center #bike {
    margin-top: 20px;
  }
  #info .findus {
    background-size: 100%;
  }
  #info .smart .infotext {
    left: 50%;
  }
  .center-xs {
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  header nav .container .link ul:last-child {
    margin-left: 0em;
  }
  main #products .container .center #bike {
    margin-top: 20px;
  }
  #info .findus {
    background-size: 100%;
  }
  #info .smart .infotext {
    left: 50%;
  }
  .center-md {
    text-align: center;
  }
}

@media screen and (min-width: 993px) {

}
